<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" >

	<listeners>
		<listener class-name="practice.eCartApp.Listeners" />
	</listeners>



	<test name="Validating Cart">
		<classes>
			<class name="practice.eCartApp.HomePageTest" />

		</classes>
	</test>

	<test name="Validating Page">
		<classes>

			<class name="practice.eCartApp.ValidateTest" />
		</classes>
	</test>
	
	
	
	<!-- <test name="tests"> <classes> <class name="practice.eCartApp.HomePageTest" 
		/> <class name="practice.eCartApp.ValidateTest" /> </classes> </test> -->

	<!-- Test -->
</suite> <!-- Suite -->
